table {
    font-family: "OpenSans", sans-serif;
    border-collapse:collapse;
    sortable: true;
    width: 100%;
}

td, th {
    border: 1px solid #666666;
    text-align: left;
    padding: 8px;
}

td.centered
{
  border: 1px solid #666666;
  text-align: center;
  padding: 8px;
}

th.centered
{
  border: 1px solid #666666;
  text-align: center;
  padding: 8px;
}

th {
     background-color: #eb005a;
     color: white;
}

td{
    color: #555555;
}

tr.even {
    background-color: #f5f5f5;
}
tr.odd {
    background-color: #fff;
}
